Source: rtl8723ds-mp-driver
Section: main/kernel
Priority: optional
Maintainer: Jason Abele <jason@nextthing.co>
Build-Depends: debhelper (>= 8), dkms
Standards-Version: 3.9.6
Homepage: https://github.com/NextThingCo/RTL8723BS

Package: rtl8723ds-mp-driver-common
Architecture: all
Depends: ${misc:Depends}
Recommends: rtl8723ds-mp-driver-source, module-assistant
Description: Common files for the Realtek rtl8723ds Wireless driver
 RTL8723BS MP Driver is a device driver for the Realtek IEEE 802.11b/g/n
 rtl8723ds SDIO wireless network card.
 .
 This package contains the common files.

Package: rtl8723ds-mp-driver-dkms
Architecture: all
Depends: ${misc:Depends}
Breaks: rtl8723ds-mp-driver-common, rtl8723ds-mp-driver-modules (<< 5.1.1.2-18132.20160706-BTCOEX20160510-0909-ntc-1), rtl8723ds-mp-driver-source
Replaces: rtl8723ds-mp-driver-common, rtl8723ds-mp-driver-modules (<< 5.1.1.2-18132.20160706-BTCOEX20160510-0909-ntc-1), rtl8723ds-mp-driver-source
Provides: rtl8723ds-mp-driver-modules
Description: dkms source for the Realtek rtl8723ds Wireless driver
 RTL8723BS MP Driver is a device driver for the Realtek IEEE 802.11b/g/n
 rtl8723ds SDIO wireless network card.
 .
 This package provides the source code for the 8723ds kernel module.
 Kernel source or headers are required to compile these modules.

Package: rtl8723ds-mp-driver-source
Architecture: all
Depends: ${misc:Depends}, debhelper (>= 8), make, xz-utils
Recommends: module-assistant
Description: Source for the Realtek rtl8723ds Wireless driver
 RTL8723BS MP Driver is a device driver for the Realtek IEEE 802.11b/g/n
 rtl8723ds SDIO wireless network card.
 .
 This package provides the source code for the 8723ds kernel module.
 Kernel source or headers are required to compile these modules.
